
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-image: url('background.png'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

header {
  background-color: rgba(180, 180, 180, 0.3);
  color: #fff;
  text-align: center;
  padding: 1em;
}

section {
  margin: 2em;
  text-align: center;
  color: #333; /* Adjust text color for better visibility on the background image */
  flex-grow: 1; /* Allow the section to grow to fill available space */
}

a {
	color: #000;
}

.intro-text {
  font-size: 2em;
  margin-bottom: 1em;
  text-shadow: 1px 1px #000000;
}

.titlelogo {
  width: 20%;
  opacity: 0.5;
}

.wordlogo {
  width: 80%;
  max-width: 800px
}

.referlogo {
  width: 80%;
  max-width: 200px;
  opacity: 0.9;
  border: 2px solid #333;
  margin: 1em;
  padding: 1px;
  background-color: #cccccc;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  max-height: 100vh; /* Added maximum height for smaller screens */
  overflow: hidden; /* Added overflow for scrolling on smaller screens */
}

.option, .option-disabled, .resource-button {
  margin-bottom: 1em;
  padding: 1em;
  border: 2px solid #333;
  border-radius: 5px;
  width: 80%; /* Adjusted width for better responsiveness on smaller screens */
  max-width: 400px; /* Added max-width for the buttons */
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: rgba(255, 255, 255, 0.96); /* Background color with opacity */
  box-sizing: border-box; /* Include padding in the width */
}

.option-disabled {
  cursor: default;
}

.resource-button {

}



.option:hover, .resource-button:hover {
  background-color: rgba(221, 221, 221, 0.87); /* Adjust hover background color with opacity */
}

    .construction-box {
      background-color: rgba(255, 255, 255, 0.8); /* Whitish background color with opacity */
      padding: 1em;
      border-radius: 10px;
      margin-bottom: 2em;
    }

    .message {
      font-size: 1.5em;
      font-weight: bold;
    }

    .referbox {
      margin-bottom: 1em;
      font-size: 1em;
      font-weight: bold;
      width: 80%;
      display:block;
      align-items: center;
      text-align: left;
    }

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}